/*Estilos globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(7, 7, 7);
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #141C29;
    padding-top: 80px;
}


/*Estilos del encabezado*/
header {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    background-color: #263143;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}


/* Estilos principales */
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}

.background-image {
    position: fixed; /* Para que la imagen cubra toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/volunteers-2d-isolated-illustration-contributing-to-humanitarian-aid-smiling-man-and-woman-social-service-worker-flat-characters-on-cartoon-background-charity-work-colourful-scene-vector.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Para que esté detrás del contenido principal */
  }

.main {
    margin-top: 120px;
    padding: 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
  }
  
  .Voluntariado {
    /*background-image: url('../../assets/img/compras-online.jpg');*/
    width: 400px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .FormularioVoluntariado {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .campo {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .radio {
    margin-right: 5px;
  }
  
  .boton {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #0056b3;
  }
  